[Unit]
Description=CockroachDB - The SQL database for global cloud services
After=network.target

[Service]
Type=simple
User=cockroach
Group=cockroach
ExecStart=/opt/cockroach/cockroach start --insecure --host=localhost --store=path=/var/lib/cockroach --http-host=0.0.0.0 --http-port=8080 --join cloudtrust-cockroach

[Install]
WantedBy=multi-user.target
